<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Introduction to Jakarta Enterprise Edition - JSP
    https://github.com/egalli64/jeep
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- slide 9 -->
    <context-param>
        <param-name>admin</param-name>
        <param-value>Tom</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/s09/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/s09/500.jsp</location>
    </error-page>

    <resource-ref>
        <res-ref-name>jdbc/hron</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
